body{
	background-image: url("../img/06993_HD.jpg");
	background-size: cover;
}

#footer ul li div{
	background-color: ;
	height: 266px;
	margin: 0;
	padding: 10px 0 0;
	position: relative;
	width: 226px;
}