body{
	background-image: url("../img/chatroomBG.jpg");
}
#rootPanel{
	position: relative;
	width: 55%;
	height: 600px;
	margin-left: 22%;
	padding-top: 10px;
	border-radius: 20px;
	background-color: rgb(95%, 95%, 95%);
	box-shadow: 0px 16px 3px 13px rgba(100%,100%,100%,0.1);
	margin-top: 20px;
}
#msgPanel{
	position: relative;
	height: 80%;
	width: 95%;
	margin: 20px;
	border: 1px #9F9F9F solid;
	border-radius: 5px;
	padding: 15px;
	overflow: auto;
	background-color: #FFF;
}
#senderPanel{}
#textBox{
	float: left;
	margin-left: 20px;
	width: 77%;
}
#msgingArea{
	width: 100%;
	margin-top: 14px;
	overflow: auto;
}
#submitArea{
	margin-left: 30px;
	float: left;
	width:16%;
}
#submitBtn{
	margin: 0px;
}
.cleaner{
	clear:both;
}

span.timeSpan{
	position: relative;
	float: right;
	margin-right: 20px;
}
.msgBody{
	border-bottom: solid 1px #C4C4C4;
	margin-bottom: 10px;
	display: none;
}
.msgText{
	padding-left: 10px;
}