body{
	padding-top:  70px;
}
#navbar{
	background-color: #428636;
	z-index:  2;
	position: fixed;
	top:  0px;
	width: 100%;
}
#postPanel{
	position:  relative;
	width: 100%;
	height: 767px;
	padding: 20px;
	border: 1px #9F9F9F solid;
	
}
.pnl{
	background-color: #FFFFFF;
	margin-left:  1%;
}
#chatPanel{
	position: relative;
	padding:  15px;
	margin-top: 1%;
	width: 100%;
	height: 600px;
	background-color: #FFFFFF;
	border: 1px #9F9F9F solid;
}
#msgPanel{
	position: relative;
	height: 90%;
	width: 99%;
	border: 1px #9F9F9F solid;
	border-radius: 5px;
	padding: 15px;
	overflow: auto;
	background-color: #FFF;
}
#senderPanel{
	margin-top: 10px;
}
#textBox{
	float: left;
	margin-right: 1%;
	width: 69%;
}
#msgingArea{
	width: 100%;
	margin-top: 14px;
	overflow: auto;
}
#submitArea{
	margin-left: 8%;
	float: left;
	width:16%;
}
#submitBtn{
	margin: 0px;
	background-color: #428636;
}
.cleaner{
	clear:both;
}

span.timeSpan{
	position: relative;
	float: right;
	margin-right: 20px;
}
.msgBody{
	display: none;
}
.msgText{
	padding-left: 10px;
	word-wrap: break-word;
}
#postFormDiv{
	background-color: #FFFFFF;
	position: relative;
	border-radius: 3px;
	border: solid 1px #428636;
	padding: 1px;
}
#textArea{
	border-bottom: 0px;
	height: 60px;
}
#postFormPrivate{
	float: right;
	margin-right: 2%;
}
#postFormSubmit{
	float: right;
	margin-top: 1%;
}
#postformTitle{
	font-size: 20px;
	color: #428636;
}
#shareBtn{
	background-color: #428636;
	margin-top: 0px;
}
#postForm{
	height: 160px;
	border-bottom: solid 2px #A1A1A1;
	width: 100%;
	background-color: #FFFFFF;
	padding: 15px;
	margin-left: 1%;
}
#postContainer{
	position: relative;
	width: 100%;
	height: 95%;
	background-color: #F8F8F8;
	margin-top: 20px;
	padding: 30px;
	border: 1px #9F9F9F solid;
	overflow: auto;
}
.postAuthor{
	height: 35px;
	font-size: 30px;
	color: #428636;
}
.titleBar{
	cursor:pointer;
}
.postBox{
	background-color: #FFF;
	border: solid 1px;
	padding: 5px;
	margin-bottom: 20px;
}
.contentBox{
	min-height: 50px;
	background-color: #FFF;
	border-top: solid 1px;
	cursor:pointer;
}
#successPosting{
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid;
	border-radius: 4px;
	width: 20%;
	position: fixed;
	z-index: 3;
	top: 40%;
	left: 41%;
	display: none;
}
#successInfo{
	margin-left: 27%;
}
#containerColumn1 , #containerColumn2{
}
#containerColumn1{
	float: left;
	width: 43%;
	margin-right: 0.5%;
	margin-left: 0.5%;
}
#containerColumn2{
	float: left;
	width: 55%;
}
#postDialog{
	top: 150px;
}
.modal-header{
	background-color: #FFFFFF;
}
.bubbleLeft{
	float:left;
	width: 70%;
}
.bubbleRight{
	float:right;
	width: 70%;
}
.messageAuthorLeft{
	float: left;
	font-weight: 800;
	padding-top: 34px;
}
.messageAuthorRight{
	float: right;
	font-weight: 800;
	padding-top: 34px;
}