body{
	background-image: url("../img/chatroomBG.jpg");
	padding-top:  70px;
}
#navbar{
	background-color: #428636;
	z-index:  2;
	position: fixed;
	top:  0px;
	width: 100%;
}
#postPanel{
	position:  relative;
	width: 55%;
	height: 600px;
	float: left;
	padding: 20px;
}
.pnl{
	background-color: #E0F9C0;
	margin-left:  1%;
}
#chatPanel{
	position: relative;
	padding-top:  10px;
	width: 42%;
	height: 600px;
	background-color: #E0F9C0;
	float: left;
	/*box-shadow: 0px 16px 3px 13px rgba(100%,100%,100%,0.1); */
}
#msgPanel{
	position: relative;
	height: 80%;
	width: 95%;
	margin: 20px;
	border: 1px #9F9F9F solid;
	border-radius: 5px;
	padding: 15px;
	overflow: auto;
	background-color: #FFF;
}
#senderPanel{}
#textBox{
	float: left;
	margin-left: 20px;
	width: 69%;
}
#msgingArea{
	width: 100%;
	margin-top: 14px;
	overflow: auto;
}
#submitArea{
	margin-left: 30px;
	float: left;
	width:16%;
}
#submitBtn{
	margin: 0px;
	background-color: #428636;
}
.cleaner{
	clear:both;
}

span.timeSpan{
	position: relative;
	float: right;
	margin-right: 20px;
}
.msgBody{
	border-bottom: solid 1px #C4C4C4;
	margin-bottom: 10px;
	display: none;
}
.msgText{
	padding-left: 10px;
	word-wrap: break-word;
}
#postFormDiv{
	background-color: #FFFFFF;
	position: relative;
	border-radius: 3px;
	border: solid 1px #428636;
	padding: 1px;
}
#textArea{
	border-bottom: 0px;
}
#postFormPrivate{
	float: left;
	margin-left: 65%;
}
#postFormSubmit{
	float: left;
	margin-left: 7%;
	margin-top: 10px;
}
#postformTitle{
	font-size: 20px;
	color: #428636;
	font-style: italic;
}
#shareBtn{
	background-color: #428636;
	margin-top: 0px;
}
#postForm{
	height: 160px;
	border-bottom: solid 2px #A1A1A1;
}
#postBox{
	position: relative;
	width: 100%;
	height: 65%;
	background-color: #FFFFFF;
	margin-top: 20px;
}