body{
	background-image: url("../img/reebonz.jpg");
	background-size: cover;
}

/*the header*/
@font-face {
	font-family: title_font;
	src: url("../fonts/southrose.ttf");
}

header{
	box-sizing: inherit;
	font-size: 40px;
	text-align: center;
	font-family: title_font;
}

#title_block{
	font-family: title_font;
	font-size: 50px;
	text-shadow: 2px 2px;
	color: #FFFFFF;	
}
#form{
	width:500px;
	height: 600px; 
	box-shadow:1px 1px 20px #333333;
	/*text-shadow: 2px 2px;*/
	padding-bottom: 20px;
	border-radius: 2px;
	margin-top: 10%;
	text-align: center;
	overflow: hidden;
	color: #FFFFFF;
	font-size: 27px;
	margin-bottom: 5%;
    transition:all 0.2s ease-in;
    background-color: black;
    background: rgba(0,0,0,0.7);
}

/*login block*/
#login_form{
	box-sizing: border-box;
	position: relative;
	float: left;
	width: 430px;
	margin-left: 350px;
	background-image: url("extra/img/reebonz.jpg");
	background-size: cover;
}

.submit{
	display: inline-block;
	border-radius: 5px;
	background-clip: padding-box;
	background-color: #7986CB;
	border: none;
	color: #fff;
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	padding: 5px 17px 6px 17px;
	cursor: pointer;	
}

.submit:active {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      transition-delay: 0s;
}

.note{
	font-size: 24px;
}

.link{
	font-size: 24px;
	color: #BCAAA4;
}

#sign_in_form{
	box-sizing: border-box;
	position: relative;
	float: left;
	width: 430px;
	margin-left: 250px;
}

#join{
	display: inline-block;
border-radius: 5px;
background-clip: padding-box;
background-color: #7986CB;
border: none;
color: #fff;
font-family: "Open Sans", sans-serif;
font-size: 20px;
padding: 5px 17px 6px 17px;
cursor: pointer;
}