body{
	background-image: url("chalkboard.jpg");
	background-size: cover;
}

#title_block{
	text-shadow: 2px 2px;
	font-size: 35px;
	color: #FFFFFF;
}

#form{
	text-shadow: 2px 2px;
	padding-bottom: 20px;
	margin-top: 10%;
	text-align: center;
	color: #FFFFFF;
	font-size: 20px;
	margin-bottom: 5%;
}